<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title><%=  appconf.apptitle || appconf.title %> (<%= appname%>)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="icon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="icon.png" />

    <!-- 请替换/<%= appconf.SRC_DIR%>目录下的 `favicon.ico` 和 `apple-touch-icon.png` -->

    <!-- build:css(.) <%=  appconf.CSS_DIR %>/libs-min.css -->
    <!-- bower:css --><% if ( appconf.bootstrap && ! appconf.sass) { %>
    <link rel="stylesheet" href="<%=  appconf.BOWER_DIR %>/bootstrap/dist/css/bootstrap.css"><% } %>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) <%=  appconf.CSS_DIR %>/<%=  appconf.appname %>-min.css -->
    <link rel="stylesheet" href="<%=  appconf.CSS_DIR %>/<%=  appconf.appname %>.css">
    <!-- endbuild --><% if ( appconf.requirejs) { %>

    <!-- build:js(.) <%=  appconf.JS_DIR %>/libs-config-min.js --><% if ( appconf.modernizr) { %>
    <script src="<%= appconf.BOWER_DIR %>/modernizr/modernizr.js"></script><% } %>
    <script src="<%= appconf.BOWER_DIR %>/requirejs/require.js"></script>
    <script src="<%= appconf.SCRIPTS_DIR %>/requirejs.config.js"></script>
    <!-- endbuild -->
    <% } %>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">您使用的浏览器已经不再被支持，请<a href="http://browsehappy.com/">升级到最新的版本</a>。</p>
    <![endif]-->

    <% if ( appconf.bootstrap) { %>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-book"></span> 我的课程</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span> 学习专题</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> 我的面授</a></li>
        </ul>
        <h3 class="text-muted"><img src="apple-touch-icon.png" /> <%=  appconf.apptitle||appconf.appname %></h3>
      </div>

      <div class="jumbotron">
        <h1>你好，世界！</h1>
        <p class="lead">这是一个由 TUI App 生成器自动生成的应用.</p>
        <p><a class="btn btn-lg btn-success" href="#">赞 <span class="glyphicon glyphicon-thumbs-up"></span></a></p>
        <div class="lightmask"></div>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">

          <h3><i class="fa fa-magic"></i> 特性</h3>
          <ul class="features">
            <li><i class="fa fa-check-square"></i> 使用标准的`HTML5 Boilerplate`目录结构;</li>
            <li><i class="fa fa-<%= appconf.sass?'check-':'' %>square"></i> 支持Scss/Sass预处理器;</li>
            <li><i class="fa fa-<%= appconf.coffeescript?'check-':'' %>square"></i> 支持CoffeeScript预处理器;</li>
            <li><i class="fa fa-<%= appconf.nodewebkit?'check-':'' %>square"></i> 支持使用<code>Node-webkit</code>构建基于HTML5+CSS3的跨平台<b>桌面应用</b>; </li>
            <li><i class="fa fa-warning"></i> 稍后将会支持使用Apache `Cordova`构建基于HTML5+CSS3的跨终端<b>移动应用</b>; </li>
            <li><i class="fa fa-warning"></i> 支持Less预处理器(未全面测试);</li>
            <li><i class="fa fa-warning"></i> 支持Stylus预处理器(未全面测试);</li>
            <li><i class="fa fa-warning"></i> 支持TypeScript预处理器(未全面测试);</li>
            <li><i class="fa fa-warning"></i> 支持LiveScript预处理器(未全面测试);</li>

            <%
            var libs = [
              'jquery', 'tui', 'bootstrap', 'async','angularjs','requirejs',
              'modernizr','underscore','fontawesome','animatecss','mockjs'
            ],
            ulibs = appconf.libs || [];
            function hasLibs(lib) {
              for(var i=0,len=ulibs.length; i<len; i++) {
                if (ulibs[i] === lib) {
                  return true;
                }
              }
            }

            if (libs) {
            for (var i =0,len=libs.length; i<len; i++) { %>
            <li><i class="fa fa-<%= (hasLibs(libs[i])?"check-":"") %>square"></i> <%= libs[i] %>; <%
              if (libs[i] === 'angularjs' && appconf.ngcomponents) { %>
              <ul> <%for (var k=0,leng=appconf.ngcomponents.length; k<leng; k++) { %>
                <li><i class="fa fa-check-square"></i> <%= appconf.ngcomponents[k] %>; </li><%}%>
              </ul>
            <%}%></li>
            <% }} %>

          </ul>
        </div>
        <div class="col-lg-6">
          <h3><i class="fa fa-folder-open"></i> 目录结构</h3>
          <pre class="dirs">
            <code>
  <%= appconf.appname %>
   ├─ app/
   │   ├─ scripts/
   │   ├─ styles/
   │   ├─ img/
   │   ├─ data/
   │   ├─ html/
   │   ├─ fonts/
   │   ├─ views/
   │   ├─ apple-touch-icon.png
   │   ├─ favicon.ico
   │   ├─ index.html
   │   ╰─ robots.txt
   │
   ├─ dist/
   ├─ doc/
   ├─ node_modules/
   ├─ release/
   ├─ test/
   ├─ libs/ <% if (appconf.libs) {
      for (var i =0,len=appconf.libs.length; i<len; i++) {
          if(appconf.libs[i]!=='jquery') { %>
   │   ├─ <%= appconf.libs[i] %>/<% if (appconf.libs[i] === 'angularjs' && appconf.ngcomponents) {
      for (var k=0,leng=appconf.ngcomponents.length; k<leng; k++) { %>
   │   ├─ <%= appconf.ngcomponents[k] %>/<% }}}}} %>
   │   ╰─ jquery/
   │
   ├─ README.md
   ├─ package.json
   ├─ bower.json
   ├─ Gruntfile.js
   ├─ .appconf
   ├─ .bowerrc
   ├─ .editorconfig
   ├─ .gitattributes
   ├─ .gitignore
   ├─ .jshintrc
   ├─ .npmrc
   ├─ .sshconf-demo
   ├─ .tmp/
   ├─ .tuiconf-demo
   ╰─ .yo-rc.json
  </code>
          </pre>
        </div>
      </div>
      <div class="row marketing">
        <div class="col-lg-12">

          <h3><i class="fa fa-paint-brush"></i> 样式</h3> <% if ( appconf.scss ||  appconf.sass) { %>

          <p>您选择了使用SCSS/SASS预处理器，请将所有的.scss和.sass写在`app/styles/`目录内，运行命令`grunt build`会自动编译成原生的CSS代码，并压缩成一个文件`<%=  appconf.appname %>.css`。</p>
          <% } else if ( appconf.less) { %>

          <p>您选择了使用LESS预处理器，请将所有的.less写在`app/styles/`目录内，运行命令`grunt build`会自动编译成原生的CSS代码，并压缩成一个文件`<%=  appconf.appname %>.css`。</p>
          <% } else if ( appconf.stylus) { %>

          <p>您选择了Stylus预处理器，请将所有的.styl代码写在`app/styles/`目录内，运行命令`grunt build`会自动编译成原生的CSS代码，并压缩成一个文件`<%=  appconf.appname %>.css`。</p>
          <% } else  { %>

          <p>所有CSS代码请写在`app/styles/目录内，运行`grunt build`命令会自动压缩成一个文件`<%=  appconf.appname %>.css`，并自动生成SourceMap。</p>
          <% } %>

          <h3><i class="fa fa-code"></i> 脚本语言</h3> <% if ( appconf.coffeescript) { %>

          <p>您选择了使用CoffeeScript语法，请将所有的CoffeeScript代码写在`app/scripts/`目录内，运行`grunt build`命令会将此目录内的所有`.coffee`文件编译成原生JS代码，并压缩为一个文件：`<%=  appconf.appname %>.js`，并自动生成API文档和SourceMap。</p>
          <% } else if ( appconf.typescript) { %>

          <p>您选择了使用TypeScript语法，请将所有的TypeScript代码写在`app/scripts/`目录内，运行`grunt build`命令会将此目录内的所有`.type`文件编译成原生JS代码，并压缩为一个文件：`<%=  appconf.appname %>.js`，并自动生成API文档和SourceMap。</p>
          <% } else if ( appconf.livescript) { %>

          <p>您选择了使用LiveScript语法，请将所有的LiveScript代码写在`app/scripts/`目录内，运行`grunt build`命令会将此目录内的所有`.ls`文件编译成原生JS代码，并压缩为一个文件：`<%=  appconf.appname %>.js`，并自动生成API文档和SourceMap。</p>
          <% } else { %>

          <p>您选择了使用原生的JavaScript语法，请将所有的JavaScript写在`app/scripts/`目录内，运行`grunt build`命令会将此目录内的所有`.js`文件压缩为一个文件：`<%=  appconf.appname %>.js`，并自动生成API文档和SourceMap。</p>
          <% } %>

          <h3><i class="fa fa-wrench"></i> 安装组件</h3>
          <p>如果您需要安装TUI组件或第三方组件，请使用Bower安装您需要的组件，安装方法(进入应用目录，打开命令行窗口选择下面的命令来安装)：
              <ul>
                <li><code>bower install --save {package}</code> ——默认安装最新版本</li>
                <li><code>bower install --save {package}#{version}</code> ——安装指定的版本</li>
                <li><code>bower install --save alias={package}#{version}</code> ——以别名方式同时安装不同版本</li>
              </ul>
              {package}可以使用在tui-workspace目录内使用命令`bower search KEYWORD`来搜索.
              例子：
              <ul>
                <li><code>bower install --save jquery</code> ——安装最新版本</li>
                <li><code>bower install --save jquery#1.9.1</code> ——会覆盖上一行安装的jQuery（有冲突提示，要求您自己选择保留原版本还是继续安装）</li>
                <li><code>bower install --save jquery-older=jquery#1.7.0</code> ——安装jQuery的v1.7.0到`<%=  appconf.BOWER_DIR%>/jquery-older`目录</li>
                <li><code>bower install --save jquery2=jquery#2.1.1</code> ——安装jQuery的v2.1.1到`<%=  appconf.BOWER_DIR%>/jquery2`目录</li>
              </ul>
              安装完后，Grunt会指定在应用目录下所有的HTML文件中查找<code>&lt;!--build:xxx--&gt;&lt;!--endbuild--&gt;</code>`内容块，在其中插入一个指向jquery.js的&lt;script/&gt;标签，这都是自动的。
          </p>

          <h3><i class="fa fa-globe"></i> 部署</h3>
          <p>使用Grunt命令来自动部署，部署前会自动对代码做JSHint检查、编译、打包，然后自动上传到指定环境的/tui/{appname}目录下，使用方法：
              <ul>
                <li><code>grunt test2</code> 部署到开发环境</li>
                <li><code>grunt dev</code> 部署到开发环境(同上)</li>
                <li><code>grunt test3</code> 部署到Test3测试环境</li>
                <li><code>grunt yufa</code> 部署到预发布环境</li>
                <li><code>grunt publish</code> 部署到公网环境(目前不可用)</li>
              </ul>
              部署需要对应环境的SSH写权限，必须在tui-workspace目录下的`.sshconf`中配置访问账户和密码才能成功部署；
          </p>

          <% if ( appconf.bootstrap) { %>
          <h3><i class="fa fa-cube"></i> Bootstrap</h3>
          <p>已集成响应式的、移动优先的前端UI类库，封装了常用的UI组件，能提高web开发效率。</p>
          <% } %>


          <% if ( appconf.modernizr) { %>
          <h3><i class="fa fa-cube"></i> Modernizr</h3>
          <p>Modernizr是一个开源的JavaScript库，它可以帮助您构建下一代HTML5和CSS3网站，Modernizr为您提供了浏览器特性检测机制，使您能根据浏览器支持的功能，更好的优化页面可访问性和用户体验。。</p>
          <% } %>
        </div>
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-lg-6">
            <p><span class="glyphicon glyphicon-heart"></span> 作者： <a href="http://blog.luozhihua.com">@罗志华</a> &lt;<a href="mailto:luozhihua@21tb.com">luozhihua@21tb.com</a>&gt; </p>
          </div>
          <div class="col-lg-6">
            <p style="text-align: right;">&copy; 时代光华</p>
          </div>
        </div>
      </div>

    </div>
    <% } else { %>
    <div class="hero-unit">
      <h1>你好，世界！</h1>
      <p>这是一个由 TUI App 生成器自动生成的应用.</p>
      <h3><i class="fa fa-magic"></i> 特性</h3>
      <ul>
        <li><i class="glyphicon glyphicon-ok"></i> 使用标准的`HTML5 Boilerplate`目录结构;</li>
        <% if ( appconf.sass) { %>         <li><i class="glyphicon glyphicon-ok"></i> 支持Scss/Sass预处理器;</li> <% } %>
        <% if ( appconf.less) { %>         <li><i class="glyphicon glyphicon-ok"></i> 支持Less预处理器;</li> <% } %>
        <% if ( appconf.stylus) { %>       <li><i class="glyphicon glyphicon-ok"></i> 支持Stylus预处理器;</li> <% } %>
        <% if ( appconf.coffeescript) { %> <li><i class="glyphicon glyphicon-ok"></i> 支持CoffeeScript预处理器;</li> <% } %>
        <% if ( appconf.typescript) { %>   <li><i class="glyphicon glyphicon-ok"></i> 支持TypeScript预处理器;</li> <% } %>
        <% if ( appconf.livescript) { %>   <li><i class="glyphicon glyphicon-ok"></i> 支持LiveScript预处理器;</li> <% } %>
        <% if ( appconf.modernizr) { %>    <li><i class="glyphicon glyphicon-ok"></i> 集成了Modernizr浏览器特性检测工具;</li> <% } %>
        <% if ( appconf.animatecss) { %>   <li><i class="glyphicon glyphicon-ok"></i> 集成了CSS3动画库 Animate.css;</li> <% } %>
        <% if ( appconf.async) { %>        <li><i class="glyphicon glyphicon-ok"></i> 集成了Async同步编程风格支持库;</li> <% } %>
        <% if ( appconf.backbone) { %>     <li><i class="glyphicon glyphicon-ok"></i> 集成了Backbone;</li> <% } %>
        <% if ( appconf.angularjs) { %>    <li><i class="glyphicon glyphicon-ok"></i> 集成了AngularJS;</li> <% } %>
        <% if ( appconf.requirejs) { %>    <li><i class="glyphicon glyphicon-ok"></i> 集成了RequireJS;</li> <% } %>
        <% if ( appconf.underscore) { %>   <li><i class="glyphicon glyphicon-ok"></i> 集成了Underscore;</li> <% } %>
        <% if ( appconf.fontawesome) { %>  <li><i class="glyphicon glyphicon-ok"></i> 集成了FontAwesome字体图标;</li> <% } %>
        <% if ( appconf.mockjs) { %>       <li><i class="glyphicon glyphicon-ok"></i> 集成了MockJS数据模拟器;</li> <% } %>
      </ul>
    </div>
    <% } %>

    <!-- build:js(.) <%=  appconf.JS_DIR %>/libs-min.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <% if (appconf.mockjs) { %>
    <!-- 模拟数据请写在下方的注释块内 -->
    <!-- mockjs -->

    <!-- endmockjs -->
    <% } %>

  </body>
</html>
