<% if ( appconf.bootstrap) { %>.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-left: 40px;
  padding-bottom: 19px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.header h3 img {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  height: 32px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: rgb(149, 6, 67);
  background-image: url(/apple-touch-icon.png);
  background-repeat: no-repeat;
  background-position: 106% -41px;
  overflow: hidden;
}
.jumbotron h1,
.jumbotron .lead {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron .lightmask {
  background: rgba(255, 0, 130, 0.4);
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing h3 .glyphicon {
  color: #AC1742;
}

.marketing .dirs {
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.marketing .features,
.marketing .features ul {
  list-style: none;
  padding-left: 0px;
}
.marketing .features ul {
  padding-left: 2em;
}

.features .fa-square{

  color: #81FFC4;
}
.features .fa-check-square {
  color: #2CE09D;
}
.features .fa-warning {
  color: #FFCC10;
}

.marketing p + h3 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header,
  .marketing {
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}<% } else { %>body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}<% } %>
